#landscape {
    width: 105%;
    position: absolute;
    z-index: -1;
    top: -140px;
    right: 0px;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    mar
}