/* Global */

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
}

/* Header */

#header {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

#header-img {
    width: 125px;
    height: auto;
    filter: invert(100%);
    float: left;
}

#nav-bar {
    float: right;
}

#nav-bar ul {
    display: flex;
}

.nav-list {
    list-style: none;
    margin: 20px;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

/* Showcase */

.showcase {
    width: 100%;
    height: 130vh;
    background: url(images/landscape.jpeg) no-repeat;
    background-position: center;
    text-align: center;
}

#container h1 {
    padding-top: 15%;
    font-size: xxx-large;
}

#container form {
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10% 29%;
}

#email-label {
    margin: 1%;
}

#email {
    width: 300px;
    margin: 1%;
}

#submit {
    padding: 0.2em 3em;
    background-color: lightgrey;
    border: none;
    border-radius: 5%;
    font-size: 1em;
    margin: 1%;
}

/* Transition */

.transition {
    padding: 5% 100% 5% 100%;
    margin-top: -10%;
    background: linear-gradient(0deg, #f4f4f4, #f4f4f4, rgba(0, 0, 0, 0.0));
}

/* Description */

#description {
    display: flex;
    flex-direction: row;
    margin-top: -6%;
    width: 80%;
    margin-left: 10%;
}

.box {
    display: flex;
    flex-direction: row;
    margin: 3% 1%;
    padding: 1%;
    align-items: center;
    text-align: center;
}

.box-icon {
    height: 4em;
    margin: 5%;
}

.box-desc {
    font-size: 12px;
    font-weight: bold;
    margin: 5%;
}

/* Video */

.video {
    display: flex;
    justify-content: center;
    width: 100%;
}

#video {
    width: 60vw;
    height: 34vw;
}

/* Footer */

.footer-bar {
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 4%;
    padding: 1%;
    padding-right: 15%;
    text-align: right;
}

#git-icon {
    display: inline;
    height: 1em;
    filter: invert(100%);
}

#footer {
    display: inline;
}

#footer a {
    text-decoration: none;
    font-size: 14px;
    color: white;
}

@media (max-width: 640px) {
    #header-img {
        width: 40%;
        height: auto;
        filter: invert(100%);
        float: none;
        margin-left: 30%;
    }
    #nav-bar {
        float: none;
    }
    #container h1 {
        padding-top: 220px;
        font-size: xxx-large;
    }
    #description {
        display: flex;
        flex-direction: column;
    }
    #video {
        width: 100%;
    }
}